
html, body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 250pt;
}
.list{
    top: 4em;
    position: absolute;
}

@keyframes unfoldfoot {
    from {height: 0px;}
    to {height: 200pt;}  
}

.footer{
    position: absolute;
    display: block;
    bottom: 0em;
    margin-bottom: 0em;
    margin-top: 3em;
    animation-name: unfoldfoot;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    padding: 1em;
    padding-bottom: 0;
}

.list, .footer{
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 0em;
    border-bottom-left-radius: 5pt;
    border-bottom-right-radius: 5pt;
    height: 0px;
    text-align: center;
    width: 100vw;
    line-height: 21pt;
    overflow: hidden;
    
}
.list .col, .footer .col, .sel .col{
    display: inline-block;
    width: 30%;
    padding-top: 1em;
    text-align: center;
    height: 130pt;
    flex-direction: column;
    overflow: hidden;
}
.list .col a, .footer .col a{
    display: block;
   color: #333;
   font-size: 15pt;
   line-height: 2em;
   letter-spacing: 0.2em;
   text-decoration: none;
}
.sel .col{
    height: 25pt;
    width: 23%;
}
.sel .col a{
    display: block;
   color: #333;
   font-size: 10pt;
   letter-spacing: 0.2em;
   text-decoration: none;
}
.list a:hover, .footer a:hover {
    color: #333;
    font-weight: bold;
    padding-bottom: 0.2em;
    text-decoration: underline #333 0.1em;
}

.change form.selection, .open form.selection{
    margin-top: 200pt;
}
@keyframes unfold {
    from {height: 0px;}
    to {height: 150pt;}  
}

.change .list{
    animation-name: unfold;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    padding: 1em;
}


.trigger {
    display: inline-block;
    transition: 0.5s;
    border: none;
    margin: 0.5em;
    margin-top: 0 ;
    background-color: rgb(255, 255, 255);
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 6px;
    transition: 0.4s;
  }
.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
.change .bar2{
    opacity: 0;
  }
.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

