{% extends "base.html"%}{%block title%}Home{%endblock%}
        {%block content%} 
        <div class="block">
            <div class="column">
                <h1>LOREM IPSUM</h1>
                <a>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</a>
            </div>
            <div class="column">
                <h1>LOREM IPSUM</h1>
                <a>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</a>
            </div>           
        </div>
        <button class="choose" title="choose">GET TO CHOOSING!
        </button>
        <div class="cardholder">
        <article class="card">
			<div class="content">
				<h3 class="title">ITEM 1</h3>
				<span class="subtitle">PRICE </span>
				<p class="description">description</p>
                <div class="cart"></div>
			</div>
		</article>
		<article class="card">
			<div class="content">
				<h3 class="title">ITEM 2</h3>
				<span class="subtitle">PRICE </span>
				<p class="description">description</p>
                <div class="cart"></div>
			</div>
			</article>
		<article class="card">
			<div class="content" onclick="window.location.href=calculus.html">
				<h3 class="title">ITEM 3</h3>
				<span class="subtitle">PRICE</span>
				<p class="description">description</p>
                <div class="cart"></div>
			</div>
		</article>
        
       </div>
       {%endblock%}
    
</html>